{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<main>
    <section class="box">
        <h2>About us</h2>
        <p>Welcome to Cafe Fuencarral. We are excited to bring you the wonderful flavours of Spanish tapas into the
            heart of the Bristol city center.
            <p />
        <p>Tapas is about sharing delicious food with close friends and family, making it the perfect choice for any
            social occasion. Come take a look for yourself at our cafe where you can experience the fantastic taste
            combined with vibrant colours of tapas. We look forward to seeing you and sharing our passion for
            Spanish tapas.</p>
    </section>

    <section class="images">
        <div id="paella" class="images"></div>
        <div id="patatas" class="images"></div>
        <div id="tortilla" class="images"></div>
    </section>

    <section class="box">
        <h2>Like what you see?</h2>
        <p>Click <a href="{% url 'menu:menu' %}"><strong>here</strong></a> to see our menu.</p>
    </section>

</main>

{% endblock %}