{% extends "base.html" %}
{% load static %}

{% block title %}Details{% endblock %}

{% block content %}
<section class="box">
    <h2>Reservation Details</h2>

    {% if not can_modify and not can_cancel %}
    <p>This reservation has been cancelled.</p>
    {% endif %}
    <p>Reservation booked at {{ reservation.time }} on {{ reservation.date }} for {{ reservation.people }}
        people.</p>
    <p><strong>Name:</strong> {{ reservation.first_name }} {{ reservation.last_name }}</p>
    <p><strong>Email:</strong> {{ reservation.email }}</p>

    <div id="buttons">
        {% if can_modify %}
        <form action="{% url 'reservations:modify' reservation.code %}" method="get">
            <button type="submit">Modify</button>
        </form>
        {% endif %}

        {% if can_cancel %}
        <form action="{% url 'reservations:cancel' reservation.code %}" method="post">
            {% csrf_token %}
            <button type="submit">Cancel</button>
        </form>
        {% endif %}
    </div>
</section>

<section class="box">
    <p>Click <a href="{% url 'reservations:search' %}"><strong>here</strong></a> to search for another reservation.
    </p>
</section>

<section class="images">
    <div id="croquetas" class="picture"></div>
    <div id="melon" class="picture"></div>
    <div id="peppers" class="picture"></div>
</section>

{% endblock %}