{% extends "base.html" %} {% load static %} {% block title %}Sign in{%endblock%}
{% block content %}

<section class="box">
  <h2>Sign in</h2>
  <p>Please log into your account below.</p>
  <form method="POST">
    {% csrf_token %} {{ form.non_field_errors }}
    <p>
      <label for="id_username"></label>
      <i class="fa-solid fa-envelope"></i> {{ form.username }} {{ form.username.errors }}
    </p>
    <p>
      <label for="id_password"></label>
      <i class="fa-solid fa-key"></i> {{ form.password }} {{ form.password.errors }}
    </p>
    <button type="submit">Sign in</button>
  </form>
</section>

<section class="images">
  <div id="croquetas" class="picture"></div>
  <div id="melon" class="picture"></div>
  <div id="peppers" class="picture"></div>
</section>

{% endblock%}
