{% extends "base.html" %}
{% load static %}

{% block title %}Modify{% endblock %}

{% block content %}
<main>
    <section class="box">
        <h2>Reservation Details</h2>
        <p>Feel free to make any changes to the details below and click Update to confirm the amendments.</p>

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        {% endif %}

    </section>

    <section class="images">
        <div id="croquetas"></div>
        <div id="melon"></div>
        <div id="peppers"></div>
    </section>
</main>
{% endblock %}
