<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Fuencarral</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'reservations/style.css' %}">

</head>

<body>
    <header>
        <section id="spanish-cuisine">
            <h1>Cafe Fuencarral</h1>
            <nav>
                <ul id="navbar">
                    <li>Home</li>
                    <li>Menu</li>
                    <li>Reservations</li>
                    <li>Contact us</li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <h2>Reservations</h2>
        
    </main>

    <footer>
        <ul id="social-media">
            <li>Facebook</li>
            <li>X</li>
            <li>Tiktok</li>
            <li>Instagram</li>
        </ul>
    </footer>
</body>

</html>