{% extends "base.html" %}
{% load static %}

{% block title %}Reservations{% endblock %}

{% block content %}

<section class="box">
    <h2>Confirm Reservation</h2>
    <p>Please provide your contact information:</p>

    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="id_first_name" aria-label="First Name">
                <i class="fa-solid fa-user"></i> {{ form.first_name }}
            </label>
        </p>
        <p>
            <label for="id_last_name" aria-label="Last Name">
                <i class="fa-solid fa-user"></i> {{ form.last_name }}
            </label>
        </p>
        <p>
            <label for="id_email" aria-label="Email">
                <i class="fa-solid fa-envelope"></i> {{ form.email }}
            </label>
        </p>
        <p>
            <label for="id_password" aria-label="Password">
                <i class="fa-solid fa-lock"></i> {{ form.password }}
            </label>
        </p>
        <button type="submit">Submit</button>
    </form>
</section>

<section class="images">
    <div id="croquetas" class="picture"></div>
    <div id="melon" class="picture"></div>
    <div id="peppers" class="picture"></div>
</section>

{% endblock%}