{% extends "base.html" %}
{% load static %}

{% block title %}Reservations{% endblock %}

{% block content %}

<section class="box">
    <h2>Reservations</h2>
    <p>Please make your booking below.</p>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <p class="error-message">
            {{ error }} <i class="fa-solid fa-triangle-exclamation"></i>
        </p>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <p>
            <label for="id_people" aria-label="People">
                <i class="fa-solid fa-people-group"></i>{{ form.people }}
            </label>
        </p>
        <p>
            <label for="id_date" aria-label="Date">
                <i class="fa-regular fa-calendar-days"></i>{{ form.date }}
            </label>
        </p>
        <p>
            <label for="id_time" aria-label="Time">
                <i class="fa-solid fa-clock"></i>{{ form.time }}
            </label>
        </p>
        <p>Please note if you wish to make a reservation for a group of more than 6 people you will need to contact
            us direct. Click <a href="{% url 'contactus:contactus' %}"><strong>here</strong></a> to view our contact
            information.</p>
        <button type="submit">Next</button>
    </form>

</section>

<section class="box">
    <p>Click <a href="{% url 'reservations:search' %}"><strong>here</strong></a> if you need to modify or cancel
        an existing reservation</p>
</section>

<section class="images">
    <div id="croquetas" class="picture"></div>
    <div id="melon" class="picture"></div>
    <div id="peppers" class="picture"></div>
</section>


{% endblock%}