<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cafe Fuencarral</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'reservations/style.css' %}">

</head>

<body>
    <header>
        <section id="spanish-cuisine">
            <h1>Cafe Fuencarral</h1>
            <nav>
                <ul id="navbar">
                    <li><a href="{% url 'home:home' %}">Home</a></li>
                    <li><a href="{% url 'menu:menu' %}">Menu</a></li>
                    <li><a href="{% url 'reservation:reservations' %}">Reservations</a></li>
                    <li>Contact us</li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section id="reservation-form">
            <h2>Reservations</h2>
            <form method="post">
                <h3>Please make your booking below</h3>
                {% csrf_token %}
                {{ form.as_p }} <!-- Display form fields as paragraphs -->
                <button type="submit"><strong>Submit</strong></button>
            </form>
        </section>
    </main>

    <footer>
        <ul id="social-media">
            <li><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li><a href="https://x.com/" target="_blank" rel="noopener"
                    aria-label="Visit our X page (opens in a new tab)"><i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i
                        class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Youtube page (opens in a new tab)"><i
                        class="fa-brands fa-youtube-square"></i></a></li>
        </ul>
    </footer>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d5d2033eb6.js" crossorigin="anonymous"></script>
</body>

</html>