{% extends "base.html" %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}

<main>
    <section class="box">
        <h2>Find your reservation</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <!-- Display form fields as paragraphs -->
            <button type="submit"><strong>Search</strong></button>
        </form>

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </section>

    <section class="images">
        <div id="croquetas"></div>
        <div id="melon"></div>
        <div id="peppers"></div>
    </section>
</main>

{% endblock%}