{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<main>
    <section class="box">
        <h2>Reservations</h2>
        <form method="post">
            <h3>Find your reservation</h3>
            {% csrf_token %}
            {{ form.as_p }} <!-- Display form fields as paragraphs -->
            <button type="submit"><strong>Search</strong></button>
        </form>
        {% if reservations%}
        {% for reservation in reservations%}
        <h4>{{ reservation}}</h4>
        {% endfor%}
        {% endif%}
    </section>
</main>

{% endblock%}