{% extends "base.html" %}
{% load static %}

{% block title %}Signup{% endblock %}

{% block content %}

<section class="box">
  <h2>Create an account</h2>
  <p>Please provide your details below to create an account</p>
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
      <label for="id_first_name"></label>
      <i class="fa-solid fa-user"></i> {{ form.first_name }}
      {{ form.first_name.errors }}
    </p>
    <p>
      <label for="id_last_name"></label>
      <i class="fa-solid fa-user"></i> {{ form.last_name }}
      {{ form.last_name.errors }}
    </p>
    <p>
      <label for="id_email"></label>
      <i class="fa-solid fa-envelope"></i> {{ form.email }}
      {{ form.email.errors }}
    </p>
    <p>
      <label for="id_password"></label>
      <i class="fa-solid fa-key"></i> {{ form.password }}
      {{ form.password.errors }}
    </p>
    <p>
      If you already have an account created click
      <a href="{% url 'reservations:login' %}"><strong>here</strong></a> to sign
      in.
    </p>
    <button type="submit">Sign Up</button>
  </form>
</section>

<section class="images">
  <div id="croquetas" class="picture"></div>
  <div id="melon" class="picture"></div>
  <div id="peppers" class="picture"></div>
</section>

{% endblock%}
