{% extends "base.html" %}
{% load static %}

{% block title %}Submission{% endblock %}

{% block content %}

<main>
    <section class="box">
        <div>
            <h2>Booking confirmed</h2>
            <p>We look forward to seeing you.</p>
            {% if code %}
            <p>Here is your reservation code: <strong>{{ code }}</strong></p>
            <p>This code will be sent to you via email. Please make a note of it as it can be used to modify or
                cancel your reservation.</p>
            {% else %}
            <p>There was an issue generating your reservation code. Please contact us directly. <br>Click <a
                    href="{% url 'contactus:contactus' %}"><strong>here</strong></a> to view our contact information.
            </p>
            {% endif %}
        </div>
    </section>

    <section class="box">
        <div>
            <p>Click <a href="{% url 'reservation:search' %}"><strong>here</strong></a> to modify your reservation.</p>
        </div>
    </section>

    <section class="images">
        <div id="croquetas"></div>
        <div id="melon"></div>
        <div id="peppers"></div>
    </section>
</main>

{% endblock%}