{% extends "base.html" %}
{% load static %}

{% block title %}Submission{% endblock %}

{% block content %}

<main>
    <section class="box">
        <div>
            <h2>Booking confirmed</h2>
            <p>We look forward to seeing you.</p>
            {% if code %}
            <p>Here is your reservation code: <strong>{{ code }}</strong></p>
            <p>This code will be sent to you via email. Please make a note of it as it can be used to modify or
                cancel your reservation.</p>
            {% else %}
            <p>There was an issue generating your reservation code. Please contact us directly. <br>Click <a
                    href="{% url 'contactus:contactus' %}"><strong>here</strong></a> to view our contact information.
            </p>
            {% endif %}
        </div>
    </section>
    <section class="box">
        <div>
            {% if reservation %}
            <h3>Reservation Details</h3>
            <p>Reservation booked at {{ reservation.time }} on {{ reservation.date }} for {{ reservation.people }}
                people.</p>

            <p><strong>Reserved for:</strong> {{ reservation.first_name }} {{ reservation.last_name }}</p>
            <p><strong>Email:</strong> {{ reservation.email }}</p>
            {% endif %}
            <p>Please note that we will need the table returned within two hours of your booking time.</p>
        </div>
    </section>

    <section class="box">
        <div>
            <p>Click <a href="{% url 'reservations:search' %}"><strong>here</strong></a> to modify or cancel your
                reservation.</p>
        </div>
    </section>

    <section class="images">
        <div id="croquetas"></div>
        <div id="melon"></div>
        <div id="peppers"></div>
    </section>
</main>

{% endblock%}