<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Fuencarral</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">

</head>

<body>
    <header>
        <section id="spanish-cuisine">
            <h1>Cafe Fuencarral</h1>
            <nav>
                <ul id="navbar">
                    <li>Home</li>
                    <li>Menu</li>
                    <li>Reservations</li>
                    <li>Contact us</li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <h2>Menu</h2>
        <div class="menu-item">
            <p><strong>Patatas Bravas</strong> </p>
            <p>Fried potatoes in a spicy, tomato sauce.</p>
        </div>
        <div class="menu-item">
            <p><strong>Tortilla</strong></p>
            <p>An omelette made with eggs and potatoes.</p>
        </div>
        <div class="menu-item">
            <p><strong>Padron peppers</strong></p>
            <p>Fried peppers sprinkled with salt.</p>
        </div>
        <div class="menu-item">
            <p><strong>Croquettas de jamon</strong></p>
            <p>Croquettes with ham.</p>
        </div>
        <div class="menu-item">
            <p><strong>Pan con alioli</strong></p>
            <p>Bread with an alioli dip.</p>
        </div>
        <div class="menu-item">
            <p><strong>Melon con jamon</strong></p>
            <p>Melon with slices of serrano ham.</p>
        </div>
        <div class="menu-item">
            <p><strong>Paella Valenciana</strong></p>
            <p>Paella with chicken and rabbit.</p>
        </div>
    </main>

    <footer>
        <ul id="social-media">
            <li>Facebook</li>
            <li>X</li>
            <li>Tiktok</li>
            <li>Instagram</li>
        </ul>
    </footer>
</body>

</html>