* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px;
    font-size: 200%;
}

header a {
    text-decoration: none;
    color: gold;
}

#navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    font-size: 95%;
    font-weight: bold;
    position: absolute;
    bottom: 0;

}

#spanish-cuisine {
    position: relative;
    background: url("images/spanish-cuisine.jpg") no-repeat center center/cover;
    height: 17%;
    color: gold;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,    
        -1px 1px 0 black,    
        1px 1px 0 black; 
}

main {
    background-color: white;
    color: maroon;
}

#introduction {
    background-color: gold;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

h2,
p {
    padding: 5px;
}

#home-images {
    background-color: gold;
    padding: 10px;
}

#paella {
    background: url("images/paella-valenciana.jpg") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#patatas {
    background: url("images/patatas-bravas.webp") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#tortilla {
    background: url("images/tortilla.webp") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

footer {
    background-color: darkred
}

#social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
}

#social-media a {
    color: gold;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {  
    #introduction {
        width: 40%;
        margin: 20px auto;
    }

    #home-images {
        display: flex;
        justify-content: space-between;
    }


    #paella,
    #patatas,
    #tortilla {
        height: 200px;
        width: 30%;
    }
}