* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px;
    font-size: 200%;
}

header a {
    text-decoration: none;
    color: gold;
}

#navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 95%;
    font-weight: bold;
    position: absolute;
    bottom: 0;

}

#spanish-cuisine {
    position: relative;
    background: url("images/spanish-cuisine.jpg") no-repeat center center/cover;
    height: 17%;
    color: gold;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,    
        -1px 1px 0 black,    
        1px 1px 0 black; 
}

main {
    background: url("images/background-image.avif");
    color: maroon;
    padding-top: 10px;
    padding-bottom: 10px;
}

#introduction {
    background-color: gold;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

h2,
p {
    padding: 5px;
}

#home-images{
    background-color: gold;
    padding: 10px;
}

#paella {
    background: url("images/paella-valenciana.jpg") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#patatas {
    background: url("images/patatas-bravas.webp") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#tortilla {
    background: url("images/tortilla.webp") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#menu,
#opening-hours,
#socials,
#submission,
#menu-link,
#drinks-menu,
#reservation-link {
    background-color: gold;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

h2 {
    padding: 5px;
}

#pan {
    background: url("images/pan-con-alioli.jpg") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#huevos {
    background: url("images/huevos-rotos.jpg") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#pulpo {
    background: url("images/pulpo-a-la-gallega.webp") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

.menu-item,
.drinks.item {
    padding: 5px;
}

#croquetas {
    background: url("images/croquetas-de-jamon-serrano.jpeg") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#melon {
    background: url("images/melon-con-jamon.jpg") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#peppers {
    background: url("images/padron-peppers.webp") no-repeat center center/cover;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border-radius: 5%;
}

#contact-socials {
    list-style: none;
}

#contact-socials a {
    text-decoration: none;
    color: darkred;
}

footer {
    background-color: darkred
}

#social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer a {
    color: gold;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {  
    #introduction {
        width: 40%;
        margin: 20px auto;
    }

    #home-images {
        display: flex;
        justify-content: space-between;
    }

    #paella,
    #patatas,
    #tortilla,
    #croquetas,
    #melon,
    #peppers,
    #pan,
    #huevos,
    #pulpo {
        height: 200px;
        width: 30%;
    }

    #menu,
    #opening-hours,
    #socials,
    #submission,
    #menu-link,
    #drinks-menu,
    #reservation-link {
        width: 40%;
        margin: 20px auto;
    }
}