<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Fuencarral</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">

</head>

<body>
    <header>
        <section id="spanish-cuisine">
            <h1><a href="{% url 'home:home' %}">Cafe Fuencarral</a></h1>
            <nav>
                <ul id="navbar">
                    <li><a href="{% url 'home:home' %}">Home</a></li>
                    <li><a href="{% url 'menu:menu' %}">Menu</a></li>
                    <li><a href="{% url 'reservation:reservations' %}">Reservations</a></li>
                    <li><a href="{% url 'contactus:contactus' %}">Contact us</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section>
            <div class="box">
                <h2>Opening hours</h2>
                <p>Tuesday - Saturday: 12:00 - 23:00</p>
                <p>Kitchen closes 22:00</p>
            </div>
        </section>

        <section>
            <div class="box">
                <h2>Contact information</h2>
                <p>Tel: 0117 123 4567</p>
                <p>Address:</p>
                <p>
                    Queen Square<br>
                    Bristol<br>
                    BS1 1AB
                </p>
            </div>
        </section>

        <section>
            <div class="box">
                <h2>Social media</h2>
                <p>Connect with us on our socials.</p>
                <ul id="contact-socials">
                    <li><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)">Facebook</a>
                    </li>
                    <li><a href="https://x.com/" target="_blank" rel="noopener"
                            aria-label="Visit our X page (opens in a new tab)">Twitter</a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)">Instagram</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Youtube page (opens in a new tab)">Youtube</a></li>
                </ul>
            </div>
        </section>

    </main>

    <footer>
        <ul id="social-media">
            <li><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li><a href="https://x.com/" target="_blank" rel="noopener"
                    aria-label="Visit our X page (opens in a new tab)"><i class="fa-brands fa-twitter-square"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i
                        class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Youtube page (opens in a new tab)"><i
                        class="fa-brands fa-youtube-square"></i></a></li>
        </ul>
    </footer>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d5d2033eb6.js" crossorigin="anonymous"></script>
</body>

</html>